*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
}
.header{
    height: 73px;
    outline: 1px solid #ccc;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px;
    border-style: solid;
    text-align: center;
}
.logocontainer{
    display: flex;
    height: 70px;
    width: 150px;


}
.img{
    width: 100%;
}
.searchcontainer{
    width: 500px;
    height: 40px;
    outline: 1px solid rgb(126, 126, 126);
   display: flex;
   margin-left: 25px;
   border-radius: 5px;
   align-items: center;
   padding: 5px;
}

.searchIcon{
    width: 20px;
    margin: 6px;
}
.inputSearch{
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
}

.img{

    width: 100px;
    height: 70px;
}

.searchcontainer{
   
    height: 70px;
    width: 200px;

}


.headerright{
    display: flex;
    align-items: center;
    justify-content: end;

}
.mobileIcon{
    width: 15px;
    margin: 2px;
}
.downloadapp{
    display: flex;
    align-items: center;
    height: 100px;
}


.supplier{
    padding: opx 30px;
    border-left: 1.5px solid #ccc;
    border-right: 1.5px solid #ccc;
    font-size: 17px;
    

  
}
.newsroom{
    padding: opx 30px;
    
    border-right: 1.5px solid #ccc;

}
.profileandcart{
    display: flex;
    align-items: center;
}
.profileandcart p{
    margin: 0;
    padding: 0;
}
.profile{
    padding: 10px;
}
.profileIcon{
    width: 15px;
    margin: 2px;
}


.cart{
    padding: 10px;

}
.cartIcon{
    width: 15px;
    margin: 2px;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 0px;
    margin-bottom: 0px;
    border-style: solid;
    align-items: center;
    height: 50px;

}




.body1{
    display:flex;
   
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 1510px;
    text-align: center;
    
}



.container{
    display:flex;
    background-color: #ccc;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 400px;
    width: 550px;
    
}
.heading{
    display: flex;
    background-color: #ccc;
    
    margin: 50px auto;
    max-width: 1100px;
}
.text{
    width: 100%;
   
}
.text h1{
    font-size: 40px;
    margin: 0;

}
.lowestitem{
    display: flex;
    height: 50px;
    margin: 20px 0;
    width: 450px;
}

.image{
background-color: white;
   padding: 0 20px;
   width: 100%;
   display: flex;
   align-items: center;
   padding-right: 2px solid #ccc;
}
.image p{
    padding-left: 10px;
}
.imageicon{
    width: 30px;
    border-radius: 40px;
    background-color: white;
}
.downloadcontainer{
    display: flex;
    align-items: center;
    font-size: 20px;
    height: 50px;
    background-color: rgb(192, 47, 192);
    width: 350px;
}
.downloadcontainer p{
    padding: 0px 20px;
}
.container2{
    display:flex;
    background-color: solid;
    height: 400px;
    width: 550px;
}
.Adimage{
    display: flex;
    height: 400px;
    width: 550px;
}
.img{
    height: 303px;
}
