*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
}
.header{
    height: 73px;
    outline: 1px solid #ccc;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px;
    border-style: solid;
    text-align: center;
}
.logocontainer{
    display: flex;
    height: 70px;
    width: 150px;


}
.searchcontainer{
    width: 300px;
    height: 45px;
    outline: 1px solid rgb(126, 126, 126);
   display: flex;
   margin-left: 25px;
   border-radius: 3px;
   align-items: center;
   padding: 5px;
}

.searchIcon{
    width: 20px;
}
.inputSearch{
    width: 100%;
    border: none;
    outline: none;
}

.img{

    width: 100px;
    height: 70px;
}

.searchcontainer{
   
    height: 70px;
    width: 200px;

}


.headerright{
    display: flex;
    align-items: center;
    justify-content: end;

}
.mobileIcon{
    width: 15px;
    margin: 2px;
}
.downloadapp{
    display: flex;
    align-items: center;
    height: 100px;
}


.supplier{
    padding: opx 30px;
    border-left: 1.5px solid #ccc;
    border-right: 1.5px solid #ccc;
    font-size: 17px;
    

  
}
.newsroom{
    padding: opx 30px;
    
    border-right: 1.5px solid #ccc;

}
.profileandcart{
    display: flex;
    align-items: center;
}
.profileandcart p{
    margin: 0;
    padding: 0;
}
.profile{
    padding: 10px;
}
.profileIcon{
    width: 15px;
    margin: 2px;
}


.cart{
    padding: 10px;

}
.cartIcon{
    width: 15px;
    margin: 2px;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 0px;
    margin-bottom: 0px;
    border-style: solid;
    height: 50px;

}




.body1{
    display:flex;
   
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 1510px;
    text-align: center;
}



.container{
    display:flex;
    background-color: rgb(185, 180, 102);
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
    width: 450px;
}
.heading{
    background-color: rgb(119, 189, 87);
    height: 70px;
    width: 380px;
}
.image{
    background-color: rgb(119, 189, 87);
    height: 50px;
    width: 380px;
}
.download{
    background-color: rgb(119, 189, 87);
    height: 30px;
    width: 300px;
}
.container2{
    display:flex;
    background-color: solid;
    height: 300px;
    width: 450px;
}
.Adimage{
    background-color: rgb(180, 111, 91);
    height: 300px;
    width: 450px;
}